<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">zqzhang</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li{% if page.section == 'slide' %} class="active" {% endif %}><a href="/slides/">slides</a></li>
        <li{% if page.section == 'blog' %} class="active" {% endif %}><a href="/blog/">blog</a></li>
        <li{% if page.section == 'about' %} class="active" {% endif %}><a href="/about/">about</a></li>
      </ul>
    </div>
  </div>
</nav>
